<div class="row">
  <h1>Experiencia laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Trabajo 1</h1>
        <h3>(years)</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          exercitationem quam in fuga vero excepturi facilis fugit consectetur
          aliquid. Ad aperiam deleniti officiis nesciunt sapiente earum sequi
          molestiae odio temporibus.
        </p>
      </li>
      <li>
        <h1>Trabajo 1</h1>
        <h3>(years)</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          exercitationem quam in fuga vero excepturi facilis fugit consectetur
          aliquid. Ad aperiam deleniti officiis nesciunt sapiente earum sequi
          molestiae odio temporibus.
        </p>
      </li>
      <li>
        <h1>Trabajo 1</h1>
        <h3>(years)</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          exercitationem quam in fuga vero excepturi facilis fugit consectetur
          aliquid. Ad aperiam deleniti officiis nesciunt sapiente earum sequi
          molestiae odio temporibus.
        </p>
      </li>
    </ul>
  </div>
</div>
