<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img
      id="foto-perfil"
      src="../../../assets/perfil-foto.jpg"
      class="img-fluid"
      alt=""
    />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <h4 id="nombre">Nicolas Walter Koch</h4>
    <p>Full Stack Web Developer Jr.</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h2>Acerca de mi</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis
        ducimus dolorum animi molestias veritatis praesentium adipisci error quo
        inventore! Porro iusto consequuntur voluptas incidunt consequatur alias
        reprehenderit aspernatur facere molestias!
      </p>
    </span>
  </div>
</div>
